<a href="https://colab.research.google.com/github/50shadescode/-my_project/blob/main/Data%20pre-processing%20checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import io

file_name = "STEG_BILLING_HISTORY.csv"
data = pd.read_csv(io.BytesIO(uploaded[file_name]))

# Check the first few rows
print(data.head())

        client_id invoice_date  tarif_type  counter_number  counter_statue  \
0  train_Client_0   24/03/2014          11       1335667.0               0
1  train_Client_0   29/03/2013          11       1335667.0               0
2  train_Client_0   23/03/2015          11       1335667.0               0
3  train_Client_0   13/07/2015          11       1335667.0               0
4  train_Client_0   17/11/2016          11       1335667.0               0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123
3           207               8.0                    1                   102
4           207               9.0                    1                   572

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0

   old_index  new_index  months_number counter_type
0      14302      14384              4         ELEC
1      12294      13678              4         ELEC
2      14624      14747              4         ELEC
3      14747      14849              4         ELEC
4      15066      15638             12         ELEC

In [7]:
# Display the first 10 lines
client_0_bills = data.head(10)
print(client_0_bills)

        client_id invoice_date  tarif_type  counter_number  counter_statue  \
0  train_Client_0   24/03/2014          11       1335667.0               0
1  train_Client_0   29/03/2013          11       1335667.0               0
2  train_Client_0   23/03/2015          11       1335667.0               0
3  train_Client_0   13/07/2015          11       1335667.0               0
4  train_Client_0   17/11/2016          11       1335667.0               0
5  train_Client_0   17/07/2017          11       1335667.0               0
6  train_Client_0   07/12/2018          11       1335667.0               0
7  train_Client_0   19/03/2019          11       1335667.0               0
8  train_Client_0   22/07/2011          11       1335667.0               0
9  train_Client_0   22/11/2011          11       1335667.0               0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123
3           207               8.0                    1                   102
4           207               9.0                    1                   572
5           207               9.0                    1                   314
6           207               9.0                    1                   541
7           207               9.0                    1                   585
8           203               9.0                    1                  1200
9           203               6.0                    1                  1082

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0
5                     0                     0                     0
6                     0                     0                     0
7                     0                     0                     0
8                   186                     0                     0
9                     0                     0                     0

   old_index  new_index  months_number counter_type
0      14302      14384              4         ELEC
1      12294      13678              4         ELEC
2      14624      14747              4         ELEC
3      14747      14849              4         ELEC
4      15066      15638             12         ELEC
5      15638      15952              8         ELEC
6      15952      16493             12         ELEC
7      16493      17078              8         ELEC
8       7770       9156              4         ELEC
9       9156      10238              4         ELEC

In [9]:
# Check the data type of 'client_0_bills'
print("Data type of 'client_0_bills':", type(client_0_bills))
# Display general information
data.info()

Data type of 'client_0_bills': <class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 16 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   client_id             1048575 non-null  object
 1   invoice_date          1048575 non-null  object
 2   tarif_type            1048575 non-null  int64
 3   counter_number        1048564 non-null  float64
 4   counter_statue        1048575 non-null  int64
 5   counter_code          1048575 non-null  int64
 6   reading_remarque      1047503 non-null  float64
 7   counter_coefficient   1048575 non-null  int64
 8   consommation_level_1  1048575 non-null  int64
 9   consommation_level_2  1048575 non-null  int64
 10  consommation_level_3  1048575 non-null  int64
 11  consommation_level_4  1048575 non-null  int64
 12  old_index             1048575 non-null  int64
 13  new_index             1048575 non-null  int64
 14  months_number         1048575 non-null  int64
 15  counter_type          1048575 non-null  object
dtypes: float64(2), int64(11), object(3)
memory usage: 128.0+ MB

In [11]:
# Number of rows and columns
rows, cols = data.shape
print(f"Number of rows: {rows}, Number of columns: {cols}")

Number of rows: 1048575, Number of columns: 16

In [12]:
# Number of categorical features
categorical_features = data.select_dtypes(include='object').columns
print(f"Categorical features ({len(categorical_features)}): {categorical_features.tolist()}")

Categorical features (3): ['client_id', 'invoice_date', 'counter_type']

In [13]:
# Memory usage
print("Memory usage:", data.memory_usage(deep=True).sum(), "bytes")

Memory usage: 322517911 bytes

In [14]:
# Check for missing values
missing_values = data.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_type            0
dtype: int64

In [15]:
# Handle missing values: Fill categorical features with mode
data.fillna(data.mode().iloc[0], inplace=True)
print("Missing values handled using mode filling.")

Missing values handled using mode filling.

In [16]:
# Descriptive analysis
numeric_features = data.select_dtypes(include=['int64', 'float64'])
print(numeric_features.describe())

# Filtering records for 'train_Client_0'
client_0_records = data[data['client_id'] == 'train_Client_0']
print(client_0_records)

         tarif_type  counter_number  counter_statue  counter_code  \
count  1.048575e+06    1.048575e+06    1.048575e+06  1.048575e+06
mean   2.013626e+01    1.209200e+11    4.203419e-02  1.722212e+02
std    1.348246e+01    1.646702e+12    3.745414e-01  1.335823e+02
min    8.000000e+00    0.000000e+00    0.000000e+00  5.000000e+00
25%    1.100000e+01    1.214730e+05    0.000000e+00  5.000000e+00
50%    1.100000e+01    4.904750e+05    0.000000e+00  2.030000e+02
75%    4.000000e+01    1.112725e+06    0.000000e+00  2.070000e+02
max    4.500000e+01    2.738110e+13    5.000000e+00  6.000000e+02

       reading_remarque  counter_coefficient  consommation_level_1  \
count      1.048575e+06         1.048575e+06          1.048575e+06
mean       7.313944e+00         1.000236e+00          4.097446e+02
std        1.359580e+00         8.306498e-02          5.882746e+02
min        6.000000e+00         0.000000e+00          0.000000e+00
25%        6.000000e+00         1.000000e+00          7.900000e+01
50%        6.000000e+00         1.000000e+00          2.720000e+02
75%        9.000000e+00         1.000000e+00          6.010000e+02
max        9.000000e+00         5.000000e+01          9.888900e+04

       consommation_level_2  consommation_level_3  consommation_level_4  \
count          1.048575e+06          1.048575e+06          1.048575e+06
mean           1.075682e+02          2.041343e+01          5.405997e+01
std            1.169328e+03          1.636440e+02          9.792183e+02
min            0.000000e+00          0.000000e+00          0.000000e+00
25%            0.000000e+00          0.000000e+00          0.000000e+00
50%            0.000000e+00          0.000000e+00          0.000000e+00
75%            0.000000e+00          0.000000e+00          0.000000e+00
max            8.198860e+05          4.536000e+04          3.435680e+05

          old_index     new_index  months_number
count  1.048575e+06  1.048575e+06   1.048575e+06
mean   1.780314e+04  1.838809e+04   4.632200e+01
std    4.062121e+04  4.122851e+04   2.594754e+03
min    0.000000e+00  0.000000e+00   1.000000e+00
25%    1.792000e+03  2.057000e+03   4.000000e+00
50%    7.718000e+03  8.218000e+03   4.000000e+00
75%    2.181900e+04  2.252000e+04   4.000000e+00
max    2.800280e+06  2.870972e+06   2.944060e+05
         client_id invoice_date  tarif_type  counter_number  counter_statue  \
0   train_Client_0   24/03/2014          11       1335667.0               0
1   train_Client_0   29/03/2013          11       1335667.0               0
2   train_Client_0   23/03/2015          11       1335667.0               0
3   train_Client_0   13/07/2015          11       1335667.0               0
4   train_Client_0   17/11/2016          11       1335667.0               0
5   train_Client_0   17/07/2017          11       1335667.0               0
6   train_Client_0   07/12/2018          11       1335667.0               0
7   train_Client_0   19/03/2019          11       1335667.0               0
8   train_Client_0   22/07/2011          11       1335667.0               0
9   train_Client_0   22/11/2011          11       1335667.0               0
10  train_Client_0   25/11/2008          11       1335667.0               0
11  train_Client_0   23/07/2012          11       1335667.0               0
12  train_Client_0   29/11/2012          11       1335667.0               0
13  train_Client_0   22/07/2013          11       1335667.0               0
14  train_Client_0   18/07/2014          11       1335667.0               0
15  train_Client_0   24/11/2014          11       1335667.0               0
16  train_Client_0   18/11/2015          11       1335667.0               0
17  train_Client_0   27/03/2012          11       1335667.0               0
18  train_Client_0   30/03/2011          11       1335667.0               0
19  train_Client_0   12/02/2013          11       1335667.0               0
20  train_Client_0   22/07/2010          11       1335667.0               0
21  train_Client_0   24/11/2010          11       1335667.0               0
22  train_Client_0   17/10/2005          11       1335667.0               0
23  train_Client_0   24/02/2006          11       1335667.0               0
24  train_Client_0   23/06/2006          11       1335667.0               0
25  train_Client_0   18/10/2006          11       1335667.0               0
26  train_Client_0   27/06/2007          11       1335667.0               0
27  train_Client_0   25/10/2007          11       1335667.0               0
28  train_Client_0   26/02/2007          11       1335667.0               0
29  train_Client_0   28/07/2008          11       1335667.0               0
30  train_Client_0   04/01/2009          11       1335667.0               0
31  train_Client_0   27/07/2009          11       1335667.0               0
32  train_Client_0   24/11/2009          11       1335667.0               0
33  train_Client_0   29/03/2010          11       1335667.0               0
34  train_Client_0   04/01/2008          11       1335667.0               0

    counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0            203               8.0                    1                    82
1            203               6.0                    1                  1200
2            203               8.0                    1                   123
3            207               8.0                    1                   102
4            207               9.0                    1                   572
5            207               9.0                    1                   314
6            207               9.0                    1                   541
7            207               9.0                    1                   585
8            203               9.0                    1                  1200
9            203               6.0                    1                  1082
10           203               6.0                    1                   174
11           203               6.0                    1                   628
12           203               6.0                    1                   886
13           203               8.0                    1                   147
14           203               8.0                    1                    99
15           203               8.0                    1                   141
16           207               9.0                    1                   217
17           203               8.0                    1                   292
18           203               6.0                    1                   497
19           203               8.0                    1                    38
20           203               6.0                    1                   278
21           203               6.0                    1                   234
22           203               6.0                    1                   124
23           203               6.0                    1                   141
24           203               6.0                    1                   162
25           203               6.0                    1                   159
26           203               6.0                    1                   240
27           203               6.0                    1                   276
28           203               6.0                    1                   182
29           203               6.0                    1                   171
30           203               6.0                    1                   315
31           203               6.0                    1                   312
32           203               6.0                    1                   267
33           203               6.0                    1                   276
34           203               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type
0       14302      14384              4         ELEC
1       12294      13678              4         ELEC
2       14624      14747              4         ELEC
3       14747      14849              4         ELEC
4       15066      15638             12         ELEC
5       15638      15952              8         ELEC
6       15952      16493             12         ELEC
7       16493      17078              8         ELEC
8        7770       9156              4         ELEC
9        9156      10238              4         ELEC
10       5417       5591              4         ELEC
11      10780      11408              4         ELEC
12      11408      12294              4         ELEC
13      13983      14130              4         ELEC
14      14384      14483              4         ELEC
15      14483      14624              4         ELEC
16      14849      15066              4         ELEC
17      10488      10780              4         ELEC
18       7273       7770              4         ELEC
19      14264      14302              2         ELEC
20       6761       7039              4         ELEC
21       7039       7273              4         ELEC
22       3685       3809              4         ELEC
23       3809       3950              4         ELEC
24       3950       4112              4         ELEC
25       4112       4271              4         ELEC
26       4453       4693              4         ELEC
27       4693       4969              4         ELEC
28       4271       4453              4         ELEC
29       5246       5417              4         ELEC
30       5591       5906              4         ELEC
31       5906       6218              4         ELEC
32       6218       6485              4         ELEC
33       6485       6761              4         ELEC
34       4969       5246              4         ELEC

In [22]:
from sklearn.preprocessing import LabelEncoder
print(LabelEncoder)

# Transform 'counter_type' to numeric using Label Encoding
encoder = LabelEncoder()
data['counter_type_encoded'] = encoder.fit_transform(data['counter_type'])
print(data[['counter_type', 'counter_type_encoded']].head())

<class 'sklearn.preprocessing._label.LabelEncoder'>
  counter_type  counter_type_encoded
0         ELEC                     0
1         ELEC                     0
2         ELEC                     0
3         ELEC                     0
4         ELEC                     0

In [23]:
# Drop 'counter_statue' column if it exists
if 'counter_statue' in data.columns:
    data.drop(columns=['counter_statue'], inplace=True)
    print("Column 'counter_statue' deleted.")

Column 'counter_statue' deleted.