<a href="https://colab.research.google.com/github/50shadescode/-my_project/blob/main/Python_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Create the dataframe
data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
}

employee_df = pd.DataFrame(data)

# Task 1: Use iloc to select the first 3 rows of the dataframe
first_three_rows = employee_df.iloc[:3]
print("First 3 rows using iloc:")
print(first_three_rows)

# Task 2: Use loc to select all rows where the Department is "Marketing"
marketing_employees = employee_df.loc[employee_df['Department'] == 'Marketing']
print("\nRows where Department is 'Marketing':")
print(marketing_employees)

# Task 3: Use iloc to select the Age and Gender columns for the first 4 rows
age_gender_first_four = employee_df.iloc[:4, [2, 3]]  # Columns 2 (Age) and 3 (Gender)
print("\nAge and Gender columns for the first 4 rows using iloc:")
print(age_gender_first_four)

# Task 4: Use loc to select the Salary and Experience columns for all rows where Gender is "Male"
male_salary_experience = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print("\nSalary and Experience for rows where Gender is 'Male':")
print(male_salary_experience)

First 3 rows using iloc:
   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

Rows where Department is 'Marketing':
   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

Age and Gender columns for the first 4 rows using iloc:
   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

Salary and Experience for rows where Gender is 'Male':
   Salary  Experience
0   50000           3
2   45000           2
4   70000          10